@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-image: url("C:\\Users\\EDVIN\\Desktop\\tree.jpg");
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: "Readex Pro", "Times New Roman";
    margin: 0;
}

h1{
    font-weight: regular;
    font-size: 4rem;
    margin-top: 5rem;
    color: white;
}

.countdown-container{
    display: flex;
}

.big-text{
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
    color: white;
}

.countdown-el {

    text-align: center;

}

.countdown-el span{

    font-size: 1.5rem;
    color: white;

}